
* {
    margin: 0;
    padding: 0;
}

#form {
    max-width: 100%;
    min-height: 100vh;
    background: linear-gradient(90deg, #ffcece, #868686 50%);
    display: flex;
    justify-content: center;
    align-items: center;
}

#form form {
    width: 30%;
    min-height: 600px;
    margin: 0 auto;
    padding: 20px;
    border: 1px solid #000000;
    border-radius: 5px;
    margin-top: 50px;
}

#form .label {
    padding-bottom: 10px;
    font-weight: bold;
    color: #000000;
}

#form input {
    width: 100%;
    padding: 10px;
    margin-top: 5px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

#form select {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

#form input[type="radio"],
#form input[type="checkbox"] {
    margin-right: 5px;
    width: auto;
}

#form button {
    width: 100%;
    padding: 12px;
    background-color: #4CAF50;
    color: white;
    margin-top: 10px;
    border: 1px solid black;
    border-radius: 10px;
    cursor: pointer;
}

.error{
    color: red;
}